[Unit]
Description=Run debian-update periodic check at boot and hourly

[Timer]
OnActiveSec=15s
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
